/* SlidingComponent.css */
.sliding-component {
    position: relative;
    right: -250px; /* Initial position outside the viewport */
    transition: right 0.5s ease;
    background-color: #f3f3f3;
    padding: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sliding-component h2 {
    margin: 0;
  }
  
  .slide-in {
    right: 0; /* Slide in to the right when in viewport */
  }
  